header.bg-gray-dark {
	padding: 15px;
}

.hero {
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero h1.h1 {
	font-size: 1.5rem;
}

.speaker-profile-img {
    width: 250px;
    height: 250px
}

.speaker-profile-img img {
    width: 90px;
    height: 90px
}

@media (min-width: 768px) {
    .speaker-profile-img {
        width: 300px;
        height: 300px
    }

    .speaker-profile-img img {
        width: 280px;
        height: 280px
    }
}

.speaker-profile details summary:hover .speaker-profile-img {
    border-width: 3px;
    border-color: #1b1f23 !important
}

.speaker-profile .details-dialog a:focus {
    background-color: #29134e
}

.speaker-profile .details-dialog:focus {
    outline: none;
    box-shadow: 0 0 0 6px #29134e
}

.speaker-profile ul a:hover {
    text-decoration: none;
    color:  #29134e !important
}

@media only screen and (max-width: 544px) {
    .speaker-profile .h2 {
        font-size: 1.25rem !important
    }
}

@media only screen and (max-width: 544px) {
    .speaker-profile .f3 {
        font-size: 0.925rem !important
    }
}

.speaker-profile details-dialog {
    position: fixed;
    margin: 10vh auto;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    max-height: 80vh
}

.Schedule-Day h3.h2 {
    font-size: 2.5rem !important
}

.Schedule-Events li:nth-of-type(odd) {
    background-color: #effcfb
}

.Schedule-Events li:nth-of-type(even) {
    background-color: #e2f9f7
}

span[class^="tz-content-"] {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden
}

@media (min-width: 768px) {
    span[class^="tz-content-"] {
        margin-top: -12px
    }
}

.tz-pt .tz-content-pt {
    visibility: visible
}

.tz-ct .tz-content-ct {
    visibility: visible
}

.tz-et .tz-content-et {
    visibility: visible
}

.tz-brt .tz-content-brt {
    visibility: visible
}

.tz-cet .tz-content-cet {
    visibility: visible
}
